body{
    background: url(../image/fitness-main.jpg);
    background-size: 100% auto;
    background-position: center -15em;
    background-repeat: no-repeat;
    
}

.site{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}