.site-footer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 1em 3em;
    margin-top: auto;
}
.site-footer p{
    padding: 0;
}

.site-footer li{
    padding: 0 0.5em;
}

